<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal" *ngIf="user">
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <div class="circular"></div>
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <p *ngIf="relation == 1">You are friends since {{friendsTime | relativeTime}}</p>
    <p *ngIf="relation == 0">You are not friends</p>
    <p class="profile-description">{{user.description}}</p>
    <hr>
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>Email</p>
        {{user.email}}
      </ion-item>
      <ion-item>
        <ion-icon item-start name="call" color="danger"></ion-icon>
        <p>Mobile</p>
        {{user.phone}} 52979596
      </ion-item>

      <ion-item>
        <ion-icon item-start name="pin" color="twitter"></ion-icon>
        <p>{{user.address}} Manouba 10 rue fatimides </p>
      </ion-item>
    </ion-list>
    <a *ngIf="relation == 0" button ion-button round color="blue" icon-start (click)="addFriend()" >
      <ion-icon name='add'></ion-icon>
      Add as friend
    </a>
    <a *ngIf="relation == 1" button ion-button round color="blue" icon-start >
      <ion-icon name='ios-happy-outline'></ion-icon>
      You are friends
    </a>
    <a *ngIf="relation == 2" button ion-button round color="blue" icon-start >
      <ion-icon name='add'></ion-icon>
      Your friend request has been sent
    </a>
    <a *ngIf="relation == 3" button ion-button round color="blue" icon-start (click)="acceptFriend()">
      <ion-icon name='ios-arrow-dropdown-circle-outline'></ion-icon>
      Accept as friend
    </a>
  </div>

</ion-content>
